# ===============================

# Project Files

# ===============================

HELP.md

# Ignore specific log file

notification-consumer/DLTlog.json

# (Optional) Ignore any DLTlog.json anywhere

# DLTlog.json

# ===============================

# Build / Target

# ===============================

target/
!**/src/main/**/target/
!**/src/test/**/target/

build/
!**/src/main/**/build/
!**/src/test/**/build/

# ===============================

# Maven Wrapper

# ===============================

.mvn/wrapper/maven-wrapper.jar

# ===============================

# STS (Spring Tool Suite)

# ===============================

.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# ===============================

# IntelliJ IDEA

# ===============================

.idea
*.iws
*.iml
*.ipr

# ===============================

# NetBeans

# ===============================

/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# ===============================

# VS Code

# ===============================

.vscode/
